<!doctype html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title></title>
	</head>
	<body>
		<img src="https://storage.googleapis.com/kaggle-datasets-images/17839/23376/185119dd679b0a18c1ea8f682f51d54c/dataset-cover.jpg?t=2018-03-24-19-55-00">
		<form method="post" enctype="multipart/form-data" id="predict_form" action="show_prediction">
			<label>Import photo</label>
			<input type="file" id="image_import" name="image_import">
		</form>
		<button type="submit" form="predict_form" id="predict_button" name="predict_button">Predict</button>

		{% if pred %}
		<p>Predicted class : {{pred}}</p>
		{% endif %}
	</body>
</html>
